<h1>Installations</h1>
<p>
<%=h @installations.length %>
records
</p>
<table class="index_data">
	<tr>
    <th>Version</th>
    <th>Device</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% @installations.each do |installation| %>
	<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h installation.version_id %></td>
    <td><%=h installation.device_id %></td>
    <td><%= link_to 'Show', installation %></td>
    <td><%= link_to 'Edit', edit_installation_path(installation) %></td>
    <td><%= link_to 'Destroy', installation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New installation', new_installation_path %>
