<h1>New register</h1>

<% form_for(@register) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :frequency %><br />
    <%= f.text_field :frequency %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :accuracy %><br />
    <%= f.text_field :accuracy %>
  </p>
  <p>
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </p>
  <p>
    <%= f.label :asset_id %><br />
    <%= f.text_field :asset_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', registers_path %>