<p>
  <b>Name:</b>
  <%=h @register.name %>
</p>

<p>
  <b>Date:</b>
  <%=h @register.date %>
</p>

<p>
  <b>Frequency:</b>
  <%=h @register.frequency %>
</p>

<p>
  <b>Type:</b>
  <%=h @register.type %>
</p>

<p>
  <b>Accuracy:</b>
  <%=h @register.accuracy %>
</p>

<p>
  <b>Client:</b>
  <%=h @register.client_id %>
</p>

<p>
<b>Devices:</b>
				<%=h @devices.count %><br/>
<% for device in @devices %>
				<%=h device.make %>
				<%=h device.model %>
				<%=h device.serial %><br/>
<% end %>
</p>


<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
