<p>
  <b>Registered in:</b>
<% for register in @registers do  %>
	<%=h register.name %> | 
	<% end %>
</p>

<p>
<% client = Client.find @device.client_id %>
  <b>Client:</b>
  <%=h client.name %>
</p>

<p>
  <b>Asset:</b>
  <%=h @device.asset_id %>
</p>

<p>
  <b>Make:</b>
  <%=h @device.make %>
</p>

<p>
  <b>Model:</b>
  <%=h @device.model %>
</p>

<p>
  <b>Serial:</b>
  <%=h @device.serial %>
</p>

<p>
  <b>Network user name:</b>
  <%=h @device.network_user_name %>
</p>

<p>
  <b>Node:</b>
  <%=h @device.node %>
</p>

<p>
  <b>Os:</b>
  <%=h @device.os %>
</p>

<p>
  <b>Os service level:</b>
  <%=h @device.os_service_level %>
</p>

<p>
  <b>Chassis:</b>
  <%=h @device.chassis %>
</p>

<p>
  <b>Domain:</b>
  <%=h @device.domain %>
</p>

<p>
  <b>Ip:</b>
  <%=h @device.ip %>
</p>

<p>
  <b>Processor count:</b>
  <%=h @device.processor_count %>
</p>

<p>
  <b>Processor type:</b>
  <%=h @device.processor_type %>
</p>

<p>
  <b>Processor speed:</b>
  <%=h @device.processor_speed %>
</p>

<p>
  <b>Ram:</b>
  <%=h @device.ram %>
</p>

<p>
  <b>Bios date:</b>
  <%=h @device.bios_date %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
