
<%= will_paginate @servers %>

<table class="index_data">
	<tr>
		<th>Name </th>
    <th>Alternative name</th>
		<th>Alt reference</th>
		<% @registers.each do |r| %>
						<th> <%=h r.name %></th>
		<% end %>
    <th>Scope</th>
    <th>Comment</th>
		<th><%= image_tag("show.png", :size => '20x20', :title => "Show this record", :alt => "Show")  %></th>
		<th><%= image_tag("edit.png",  :size => '20x20',:title => "Edit this record", :alt => "Edit")  %></th>
		<th><%= image_tag("destroy.png", :size => '20x20', :title => "Destroy this record", :alt => "Destroy")  %></th>

  </tr >
	<% @servers.each do |server| %>

	<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h server.name %></td>
    <td><%=h server.alternative_name %></td>
		<td><%=h server.alt_reference %></td>

    <% countr = @registers.length %>
    <% count = server.registers.length %>
    <% i = 0 %>
		<% j = 0 %>
		<% k = 0 %>
		<% this_server_registers = Array.new %>

		<% while k < count do # loop through all the registers for this server and identify them %>
      <% if (server.registers[k]) %>
				<% this_server_registers[k] = server.registers[k].id %>
      <% end %>	
      <% k = k + 1 %>
		<% end %>	

		<% @registers.each do |r| %>
        <% flag = false %>
				<% this_server_registers.each do |t| %>
				<% if t == r.id %>
					<% flag = true %>
	      <% end %>
	      <% end %>
				<% if flag %>
					<td> 
						<%= image_tag("tick_000.png", :size => "18x18", :title => "TICK" ) %>
				<% else %>
					<td>  
						<%= image_tag("tick_001.png", :size => "18x18", :title => "NONE" ) %>
	      <% end %>
		<% end %>

		<td> 
		<% if server.scope == "GREEN" %>
						<%= image_tag("green_traffic_light_1.png", :size => "18x18", :title => "GREEN" ) %>
		<% elsif server.scope == "AMBER" %>
		  <%=	image_tag("amber_traffic_light_1.png", :size => "18x18", :title => "AMBER" ) %>
		<% elsif server.scope == "RED" %>
			<%=	image_tag("red_traffic_light_1.png",  :size => "18x18", :title => "RED" ) %>
		<% else  %>
			<%=	image_tag("grey_traffic_light_1.png") %>
		<% 	end %>

		</td>
		<td><%=h server.comment %></td>

    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @servers %>
