<% form_tag search_servers_path, :method => :get do -%>
  <%= text_field_tag :q, params[:q] %>
	<%= submit_tag 'Search Servers' %>
<% end %>


<h1>Listing servers</h1>
<p>
<%= session[:selected_client] %>
</p>
<% javascript "pagination" %>

<div id="servers">
<%= render :partial => 'servers' %>
</div>

<br />

<%= link_to 'New server', new_server_path %>
