<h1>Editing user</h1>

<% form_for(@user) do |f| %>
				<%= f.error_messages %>

  <div>
    <%= f.label :name, "Name" %><br />
		<%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, "Email" %><br />
		<%= f.text_field :email %>
	</div>
	<% if current_user && current_user.role == 'admin' %>
  <div>
    <%= f.label :client_id, "Client ID" %><br />
		<%= f.text_field :client_id %>
  </div>
  <div>
    <%= f.label :role, "Role" %><br />
		<%= f.text_field :role %>
  </div>
  <div>
    <%= f.label :persistence_token, "Persistence Token" %><br />
		<%= f.text_field :persistence_token %>
	</div>
	<% end %>
  <div>
    <%= f.label :password, "Password" %><br />
		<%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
		<%= f.password_field :password_confirmation  %>
  </div>
	<div>
		<br/>
    <%= f.submit "Update" %>
	</div>

	<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
