<h1>Users</h1>

<% if @users.blank? %>
				<p>There are no users listed</p>
<% else %>

  <%= will_paginate @users %>

	<table class="index_data">
		<tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>

  	<% for user in @users %>
  	<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td><%=h user.name %></td>
      <td><%=h user.email %></td>
      <td><%=h user.role %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <%= will_paginate @users %>

 <% end %>

<br />

<%= link_to 'New user', new_user_path %>
