<h1>Listing clients</h1>

<table class="index_data">
  <tr>
    <th>Name</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>

  </tr>

	<% @clients.each do |client| %>
		<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
			<td><%=h client.name %></td>
			<td><%= link_to 'Show', client %></td>
			<td><%= link_to 'Edit', edit_client_path(client) %></td>
			<td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New client', new_client_path %>
