<%= will_paginate @publishers %>

<table class="index_data">
  <tr>
    <th>Name</th>
    <th>Shortname</th>
		<th>URL</th>
		<th>Products.</th>
    <th>Description</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

	<% @publishers.each do |publisher| %>
	  <% product_count = Product.count :conditions => "publisher_id = '#{publisher.id}'" %> 
	  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">


    <td><%=h publisher.name %></td>
    <td><%=h publisher.shortname %></td>
    <td><%=h publisher.url %></td>
		<td><%=h product_count %> </td>
    <td><%=h publisher.description %></td>
    <td><%= link_to 'Show', publisher %></td>
    <td><%= link_to 'Edit', edit_publisher_path(publisher) %></td>
    <td><%= link_to 'Destroy', publisher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @publishers %>

