<h1>New publisher</h1>

<% form_for(@publisher) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :shortname %><br />
    <%= f.text_field :shortname %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
		</p>
	<div id="products">
		<%= render :partial => 'product', :collection => @publisher.products %>
	</div>
	  <%= add_product_link "Add a product"  %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', publishers_path %>
