<p>
  <b>Name:</b>
  <%=h @publisher.name %>
</p>

<p>
  <b>Shortname:</b>
  <%=h @publisher.shortname %>
</p>

<p>
  <b>URL:</b>
  <%=h @publisher.url %>
</p>

<p>
  <b>Description:</b>
  <%=h @publisher.description %>
</p>

<p>
<b>Products:</b>
there are <%=h @products.length %> products by this publisher.<br/>
  <% for product in @products %>
					<%=h product.name %><br/>
	<% end %>
</p>


<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
