%h1
  Dashboard
#dashboard
  %table#dashboard{ :border => "1", :cellpadding => "6" }
    %tr
      %td
        %h3.client
          Compliance Position by Product
        %div.graph#graph_1
          - graph_1_name = sprintf("client_%d_compliance_graph.png", @client_index)
          = image_tag(graph_1_name, { :width => "300", :title => "Compliance Position Graph"})
      %td
        %h3
          Financial Summary
        %h4
  
        #dashboard_inner
          %table.dashboard_inner
            %tr
              %td
                Devices
              %td
                =h @device_count
            %tr
              %td
                Installations
              %td
                =h @installation_count
            %tr
              %td
                Licences
              %td
                =h @licence_count
            - if @over_licenced_count >= 0
              %tr
                %td
                  Over Licenced
                %td
                  = @over_licenced_count
            - if @under_licenced_count >= 0
              %tr
                %td
                  Under Licenced
                %td
                  = @under_licenced_count
            %tr
              %td
                Total licence cost
              %td
                = number_to_currency(@total_licence_cost / 100, :unit => "£")
            %tr
              %td
                Total licences
              %td
                = @total_licences
            %tr
              %td
                Average licence cost
              %td
                = number_to_currency(@average_licence_cost / 100, :unit => "£")
            %tr
              %td
                Total over-licenced cost
              %td
                - if @total_over_licenced_cost > 0
                  = number_to_currency(@total_over_licenced_cost / 100, :unit => "£")
                -else
                  = number_to_currency(0, :unit => "£")
            %tr
              %td
                Total under-licenced cost
              %td
                - if @total_under_licenced_cost > 0
                  = number_to_currency(@total_under_licenced_cost / 100, :unit => "£")
                - else
                  = number_to_currency(0, :unit => "£")
    %tr
      %td{ :valign => "top" }
        %h3
          Software Usage
        %h4
          Most under-utilised product
        .graph#graph_2

        #dashboard_inner
          %table.dashboard_inner
            %tr
              %th.dashboard_inner
                \&nbsp;
              %th.dashboard_inner
                Product
              %th.dashboard_inner
                Unused
              %th.dashboard_inner
                Estimated Cost
            %tr
              %td.dashboard_inner
                by volume
              %td.dashboard_inner
                Microsoft Project
              %td.dashboard_inner
                = @software_usage_quantity['Microsoft Project']
              %td.dashboard_inner
                = number_to_currency(@software_usage_cost['Microsoft Project'], :unit => "£")

            %tr
              %td.dashboard_inner
                by percentage
              %td.dashboard_inner
                Microsoft Visio
              %td.dashboard_inner
                = @software_usage_quantity['Microsoft Visio']
                \%
              %td.dashboard_inner
                = number_to_currency(@software_usage_cost['Microsoft Visio'], :unit => "£")
      %td{ :valign => "top" }
        %h3
          Risk Status
        %h4
          All products by RAG status
        .graph#graph_3
          - graph_2_name = sprintf("client_%d_rag_status_graph.png", @client_index)
          = image_tag(graph_2_name, { :width => "300", :title => "Risk RAG Status Graph"})
        %br
        %br
        #dashboard_inner
          %table.dashboard_inner
            %tr
              %th.dashboard_inner
                \&nbsp;
              %th.dashboard_inner
                Green
              %th.dashboard_inner
                Amber
              %th.dashboard_inner
                Red
            %tr
              %td.dashboard_inner
                Products:
              %td.dashboard_inner
                = @rag_green_items
              %td.dashboard_inner
                = @rag_amber_items
              %td.dashboard_inner
                = @rag_red_items
    %tr
      %td{ :valign => "top", :colspan => 2 }
        %h3
          Audit Data
        .graph#graph_4
          - graph_5_name = sprintf("client_%d_audit_data_graph.png", @client_index)
          = image_tag(graph_5_name, { :width => "300", :title => "Device Audits"})
        %br
        %br
        #dashboard_inner
          %table.dashboard_inner
            %tr
              %th.dashboard_inner
                &nbsp;
              - @ad.each do |k|
                %th.dashboard_inner
                  = k.keys
            %tr
              %td.dashboard_inner
                Registered Servers
              - @ad.each do |k|
                %td.dashboard_inner
                  = k.values 
