<% @clients.each do |client| %>
	<%=h client.name %>
<% end %>

<h1>Dashboard</h1>

<table id="dashboard" border="1" bgcolor="#fff" cellpadding="6">
  <tr>
	  <td valign="top">
		  <h3>
				Compliance Position by Product
			</h3>
			<%= image_tag("cpgraph.png", { :width => "300", :title => "Position Graph"})  %>
		</td>
		<td valign="top">
						<h3> Financial Summary </h3>
						<p>Total Licence Cost:
						<%=	number_to_currency(@total_licence_cost, :unit => "£") %>
						
				 		</p>
						<p>Total Licences: 
						<%=h @total_licences  %>
						</p>
						<p>Average Licence cost:
						<%=  number_to_currency(@average_licence_cost, :unit => "£") %>
						</p>

			<table class="dashboard1">
				<tr><td class="dashboard1" align="top">Total over-licenced cost</td><td class="dashboard1">£1,203,321.00</td></tr>
				<tr><td class="dashboard1" align="top">Total under-licenced cost</td><td class="dashboard1">£157,015.00</td></tr>
			</table>

  	</td>
	</tr>
	<tr>
		<td valign="top">
			<h3>
				Software Usage	
		</h3>
		<h4>Most under-utilised product</h4>
			<table class="dashboard2">
							<tr><td class="dashboard2">&nbsp;</td><td class="dashboard2">Product</td><td class="dashboard2">Unused</td><td class="dashboard2">Estimated Cost</td></tr>
							<tr><td class="dashboard2">by volume</td><td class="dashboard2">Microsoft Project</td><td class="dashboard2">354</td><td class="dashboard2">£75,566</td></tr>
							<tr><td class="dashboard2">by percentage</td><td class="dashboard2">Microsoft Visio</td><td class="dashboard2">67%</td><td class="dashboard2">£34,352</td></tr>
			</table>


		</td>
		<td valign="top">
			<h3>
				Risk Status	
			</h3>
		<h4>All products by RAG status</h4>
			<table class="dashboard3">
							<tr><td class="dashboard3">Number of items
															<%= image_tag("spacer_40.gif", { :size => "100" })  %>
							</td><td class="dashboard3">Status
							<%= image_tag("spacer_40.gif", {  :size => "60x1" }) %>
							</td></tr>
							<tr><td class="dashboard3"><%=h @rag_red_items %></td><td class="dashboard3">
							<%= image_tag("red_traffic_light_1.png", { :size => "15x15", :title => "red traffic light"})  %>
							</td></tr>
							<tr><td class="dashboard3"><%=h @rag_amber_items %></td><td class="dashboard3">
															<%= image_tag("amber_traffic_light_1.png", { :size => "15x15", :title => "amber traffic light"})  %>
							</td></tr>
							<tr><td class="dashboard3"><%=h @rag_green_items %></td><td class="dashboard3">
															<%= image_tag("green_traffic_light_1.png", { :size => "15x15", :title => "green traffic light"})  %>
							</td></tr>
			</table> &nbsp;
		</td>
	</tr>
</table>
