
<p>
  <b>Sku:</b>
  <%=h @licence.sku %>
</p>

<p>
  <b>Publisher:</b>
  <%=h @licence.publisher %>
</p>

<p>
  <b>Product:</b>
  <%=h @licence.product %>
</p>

<p>
  <b>Edition:</b>
  <%=h @licence.edition %>
</p>

<p>
  <b>Version:</b>
  <%=h @licence.version %>
</p>

<p>
  <b>Identifying number:</b>
  <%=h @licence.identifying_number %>
</p>

<p>
  <b>Product:</b>
  <%=h @licence.product_id %>
</p>

<p>
  <b>Region or country:</b>
  <%=h @licence.region_or_country %>
</p>

<p>
  <b>Cal:</b>
  <%=h @licence.cal %>
</p>

<p>
  <b>Licence type:</b>
  <%=h @licence.licence_type %>
</p>

<p>
  <b>Term:</b>
  <%=h @licence.term %>
</p>

<p>
  <b>Upgrade:</b>
  <%=h @licence.upgrade %>
</p>

<p>
  <b>Term expiry date:</b>
  <%=h @licence.term_expiry_date %>
</p>

<p>
  <b>Ci name:</b>
  <%=h @licence.ci_name %>
</p>

<p>
  <b>Base licence:</b>
  <%=h @licence.base_licence %>
</p>

<p>
  <b>Maintenance expiry:</b>
  <%=h @licence.maintenance_expiry %>
</p>

<p>
  <b>Entitlement type:</b>
  <%=h @licence.entitlement_type %>
</p>

<p>
  <b>Cost centre:</b>
  <%=h @licence.cost_centre %>
</p>

<p>
  <b>Volume licence agreement number:</b>
  <%=h @licence.volume_licence_agreement_number %>
</p>

<p>
  <b>Agreement location:</b>
  <%=h @licence.agreement_location %>
</p>

<p>
  <b>Entitlement location:</b>
  <%=h @licence.entitlement_location %>
</p>

<p>
  <b>Supplier:</b>
  <%=h @licence.supplier %>
</p>

<p>
  <b>Supplier invoice number:</b>
  <%=h @licence.supplier_invoice_number %>
</p>

<p>
  <b>Invoice date:</b>
  <%=h @licence.invoice_date %>
</p>

<p>
  <b>Po number:</b>
  <%=h @licence.po_number %>
</p>

<p>
  <b>Country of usage:</b>
  <%=h @licence.country_of_usage %>
</p>

<p>
  <b>Product substitution rights:</b>
  <%=h @licence.product_substitution_rights %>
</p>

<p>
  <b>Secondary rights:</b>
  <%=h @licence.secondary_rights %>
</p>

<p>
  <b>Transferability:</b>
  <%=h @licence.transferability %>
</p>

<p>
  <b>External licence transfer requirements:</b>
  <%=h @licence.external_licence_transfer_requirements %>
</p>

<p>
  <b>Linkages:</b>
  <%=h @licence.linkages %>
</p>

<p>
  <b>Total cost of line item:</b>
  <%=h @licence.total_cost_of_line_item %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @licence.quantity %>
</p>

<p>
  <b>Unit:</b>
  <%=h @licence.unit %>
</p>

<p>
  <b>Cost unit:</b>
  <%=h @licence.cost_unit %>
</p>

<p>
  <b>Maintenance pa:</b>
  <%=h @licence.maintenance_pa %>
</p>

<p>
  <b>Client id:</b>
  <%=h @licence.client_id %>
</p>


<%= link_to 'Edit', edit_licence_path(@licence) %> |
<%= link_to 'Back', licences_path %>
