%h1 Licence

%p
  %b
    Licence Details
%div.habtm
  %table
    %tr
      %th SKU
      %th ID
      %th Country
      %th CAL
    %tr
      %td
        =h @licence.sku
      %td
        =h @licence.identifying_number
      %td
        =h @licence.country
      %td
        =h @licence.cal
    %tr
      %th Licence Type
      %th Term
      %th Upgrade
      %th Term Expiry
    %tr
      %td
        =h @licence.licence_type
      %td
        =h @licence.term
      %td
        =h @licence.upgrade
      %td
        =h @licence.term_expiry_date
    %tr
      %th CI Name 
      %th Base Licence
      %th Maintenance Expiry
      %th Entitlement Type
    %tr
      %td
        =h @licence.ci_name
      %td
        =h @licence.base_licence
      %td
        =h @licence.maintenance_expiry
      %td
        =h @licence.entitlement_type
    %tr
      %th Cost Centre 
      %th Volume licence agreement no.
      %th Agreement location
      %th Entitlement Type
    %tr
      %td
        =h @licence.cost_centre
      %td
        =h @licence.volume_licence_agreement_number
      %td
        =h @licence.agreement_location
      %td
        =h @licence.entitlement_type
    %tr
      %th Entitlement location 
      %th Supplier
      %th Supplier invoice no.
      %th Invoice date
    %tr
      %td
        =h @licence.entitlement_location
      %td
        =h @licence.supplier
      %td
        =h @licence.supplier_invoice_number
      %td
        =h @licence.invoice_date

    %tr
      %th Po number
      %th Country of usage
      %th Product substitution rights
      %th Secondary rights
    %tr
      %td
        =h @licence.po_number
      %td
        =h @licence.country_of_usage
      %td
        =h @licence.product_substitution_rights
      %td
        =h @licence.secondary_rights

    %tr
      %th Transferability
      %th External licence transfer requirements
      %th Linkages
      %th Total cost of line item
    %tr
      %td
        =h @licence.transferability
      %td
        =h @licence.external_licence_transfer_requirements
      %td
        =h @licence.linkages
      %td
        =h @licence.total_cost_of_line_item
    %tr
      %th Quantity
      %th Unit
      %th Cost unit
      %th Maintenance pa
    %tr
      %td
        =h @licence.quantity
      %td
        =h @licence.unit
      %td
        =h @licence.cost_unit
      %td
        =h @licence.maintenance_pa
    %tr 
      %th Client id
    %tr
      %td
        =h @licence.client_id

- if @installation_count != 0
  %p
    %b
      Installations to which this licence applies

%div.habtm
  %table.habtm
    %tr
      %th
        Device ID 
      %th
        Make 
      %th
        Model 
      %th
        Version 
    - @licence.installations.each do |i|
      %tr
        %td
          = i.device_id
        %td
          = i.device_id
        %td
          = i.device_id
        %td
          = i.version_id
          

%br

= link_to 'Edit', edit_licence_path(@licence) |
= link_to 'Back', licences_path
