<%= will_paginate @versions %>

<table>
  <tr class="table_header_row">
    <th>Name</th>
    <th>Fullname</th>
    <th>Serial</th>
    <th>Language</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% @versions.each do |version| %>
	<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h version.name %></td>
    <td><%=h version.fullname %></td>
    <td><%=h version.serial %></td>
    <td><%=h version.language %></td>
		<td><%= link_to 'Show', product_version_path(@product, version) %></td>
    <td><%= link_to 'Edit', edit_product_version_path(@product, version) %></td>
  </tr>
<% end %>
</table>


<%= will_paginate @versions %>
