<h1>Editing version</h1>

<% form_for([@product, @version]) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= render :partial => 'products', :locals => { :f => f } %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </p>

  <p>
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </p>
  <p>
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', product_version_path(@product, @version) %>
