
<% if @publisher %>
<p>
  <b>Publisher:</b>
  <%=h @publisher.name %>
</p>
<% end %>

<% if @product %>
<p>
  <b>Product:</b>
  <%=h @product.name %>
</p>
<% end %>

<p>
  <b>Version Name:</b>
  <%=h @version.name %>
</p>

<p>
  <b>Fullname:</b>
  <%=h @version.fullname %>
</p>

<p>
  <b>Serial:</b>
  <%=h @version.serial %>
</p>

<p>
  <b>Language:</b>
  <%=h @version.language %>
</p>

<%= link_to 'Edit', edit_product_version_path(@product, @version) %> |
<%= link_to 'Back', product_versions_path([@product, @version]) %>
