<p>
  <b>Product:</b>
  <%=h @compliance.product %>
</p>

<p>
  <b>Edition:</b>
  <%=h @compliance.edition %>
</p>

<p>
  <b>Entitlement qty:</b>
  <%=h @compliance.entitlement_qty %>
</p>

<p>
  <b>Installs:</b>
  <%=h @compliance.installs %>
</p>

<p>
  <b>Value:</b>
  <%=h @compliance.value %>
</p>

<p>
  <b>Unit cost:</b>
  <%=h @compliance.unit_cost %>
</p>

<p>
  <b>Entitlement status:</b>
  <%=h @compliance.entitlement_status %>
</p>

<p>
  <b>Compliance:</b>
  <%=h @compliance.compliance %>
</p>

<p>
  <b>Compliance value:</b>
  <%=h @compliance.compliance_value %>
</p>

<p>
  <b>Compliance status:</b>
  <%=h @compliance.compliance_status %>
</p>


<%= link_to 'Edit', edit_compliance_path(@compliance) %> |
<%= link_to 'Back', compliances_path %>
