<h1>Editing asset</h1>

<% form_for(@asset) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </p>
  <p>
    <%= f.label :assetnumber %><br />
    <%= f.text_field :assetnumber %>
  </p>
  <p>
    <%= f.label :deploymentstatus %><br />
    <%= f.text_field :deploymentstatus %>
  </p>
  <p>
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </p>
  <p>
    <%= f.label :audit_type %><br />
    <%= f.text_field :audit_type %>
	</p>

  <p>
    <% if can? :update, @asset %>
						<%= f.submit 'Update' %>
		<% end %>
  </p>
<% end %>

<%= link_to 'Show', @asset %> |
<%= link_to 'Back', assets_path %>
