<h1>Listing assets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Serial</th>
    <th>Assetnumber</th>
    <th>Deploymentstatus</th>
    <th>Assetlabel</th>
    <th>Device</th>
    <th>Audit type</th>
  </tr>

<% for asset in @assets %>
	  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h asset.name %></td>
    <td><%=h asset.serial %></td>
    <td><%=h asset.assetnumber %></td>
    <td><%=h asset.deploymentstatus %></td>
    <td><%=h asset.asset_label %></td>
    <td><%=h asset.device_id %></td>
    <td><%=h asset.audit_type %></td>
    <td><%= link_to 'Show', asset %></td>
    <% if can? :update, @asset %>
						<td><%= link_to 'Edit', edit_asset_path(asset) %></td>
		<% end %>
    <% if can? :destroy, @asset %>
    <td><%= link_to 'Destroy', asset, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

    <% if can? :create, @asset %>
<%= link_to 'New asset', new_asset_path %>
		<% end %>
