<p>
  <b>Name:</b>
  <%=h @asset.name %>
</p>

<p>
  <b>Serial:</b>
  <%=h @asset.serial %>
</p>

<p>
  <b>Assetnumber:</b>
  <%=h @asset.assetnumber %>
</p>

<p>
  <b>Deploymentstatus:</b>
  <%=h @asset.deploymentstatus %>
</p>

<p>
  <b>Deviceid:</b>
  <%=h @asset.device_id %>
</p>

<p>
  <b>Audittype:</b>
  <%=h @asset.device_id %>
</p>


    <% if can? :update, @asset %>
						<%= link_to 'Edit', edit_asset_path(@asset) %> |
		<% end %>
<%= link_to 'Back', assets_path %>
