  <%= f.error_messages %>

	<%= render :partial => 'publishers', :locals => { :f => f } %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :fullname %><br />
    <%= f.text_field :fullname %>
  </p>
  <p>
    <%= f.label :serial %><br />
    <%= f.text_field :serial %>
  </p>
  <p>
    <%= f.label :sku %><br />
    <%= f.text_field :sku %>
  </p>
  <p>
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
	</p>
	<div id="versions">
		<%= render :partial => 'version', :collection => @product.versions %>
	</div>
	  <%= add_version_link "Add a version"  %>

