<%= will_paginate @products %>

<table class="index_data">
  <tr>
    <th>Devices with this Product</th>
    <th>Publisher</th>
    <th>Product</th>
    <th>Fullname</th>
    <th>Versions.</th>
    <th>Serial</th>
    <th>Sku</th>
    <th>Identifier</th>
		<th><%= image_tag("show.png", :size => '20x20', :title => "Show this record", :alt => "Show")  %></th>
		<th><%= image_tag("edit.png",  :size => '20x20',:title => "Edit this record", :alt => "Edit")  %></th>
		<th><%= image_tag("destroy.png", :size => '20x20', :title => "Destroy this record", :alt => "Destroy")  %></th>
  </tr>

	<% @products.each do |product| %>
	  <% if product.publisher_id != 0 %>
	    <% publisher = Publisher.find product.publisher_id %>
			<% publisher_name = publisher.name %>
		<% else %>
			<% publisher_name = "" %>
		<% end %>
		<% if Version.find :all, :conditions => "product_id = '#{product.id}'" %>
			<% version_count = Version.count :conditions => "product_id = '#{product.id}'" %>
		<% else %>
			<% version_count = 0 %> 
		<% end %>
	  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
						<td><%= link_to image_tag("show.png", :size => '20x20', :border => 0, :title => "View devices with this product", :alt => "Devices"), product %></td>
		<td><%=h publisher_name %></td>
    <td><%=h product.name %></td>
		<td><%=h product.fullname %></td>
		<td><%= link_to "#{version_count}", product_versions_path(product) %> </td>
    <td><%=h product.serial %></td>
    <td><%=h product.sku %></td>
    <td><%=h product.identifier %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @products %>
