<% @clients.each do |client| %>
	<%=h client.name %>
<% end %>

<h1>Listing locations</h1>

<% if @locations.blank? %>
				<p>There are no locations listed</p>
<% else %>

<table>
  <tr class="table_header_row">
    <th>Name</th>
    <th>Reference</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>Address3</th>
    <th>Address4</th>
    <th>Country</th>
    <th>Postcode</th>
  </tr>

	<% @locations.each do |location| %>
	  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td><%=h location.name %></td>
    <td><%=h location.reference %></td>
    <td><%=h location.address1 %></td>
    <td><%=h location.address2 %></td>
    <td><%=h location.address3 %></td>
    <td><%=h location.address4 %></td>
    <td><%=h location.country %></td>
    <td><%=h location.postcode %></td>
    <td><%= link_to 'Show', location %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% end %>

<br />

<%= link_to 'New location', new_location_path %>
