<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= h(yield(:title)) || controller.action_name %></title>
		<%= stylesheet_link_tag 'sv3', 'tabs', 'underlinenav' %>
    <%= javascript_include_tag 'jquery','application', 'tabs' %>
    <%= javascript_include_tag :defaults %>

		<style type="text/css">
   		 a.test { font-weight: bold; }
		 </style>

    <%= yield(:head) %>

	</head>		

	<body>

		<div id="banner">
						<% # image_tag("asset_cio_000.png", :size => "140x35", :title => "SAM Eclat Asset CIO TM") %>
						<%= image_tag("AssetCIOLogo.png", :title => "SAM Eclat Asset CIO TM", :size => "20x20" ) %>
		</div>

	  <div id="container">
      <%- flash.each do |name, msg| -%>
      <% content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
		</div>


		<div id="user_nav">
			<% if current_user %>
				<% if current_user.role == 'admin' %>
					<% if session[:selected_client] && session[:selected_client] != 0 %>
						<% client = Client.find session[:selected_client] %> 
						<% client_name = client.name %> 
		      <% else %>
						<% client_name = "" %>
					<% end %>

					<b> <%= current_user.name %></b> is logged in &nbsp; 

			<% else %>
							<b><%= current_user.name %></b> is logged in as <%= current_user.role %> &nbsp;
	    <% end %>
							<%= link_to "Edit Profile", edit_user_path(:current) %>
							<%= link_to "Logout", logout_path %>
		<% else %>
							<%= link_to "Register", new_user_path %>
							<%= link_to "Login", login_path %>
		<% end %>
		</div>

		<% if !current_user %>
			<br/>
			<div class="underlinemenu">
				<ul>
					<li> &nbsp; </li>
					<li><%= link_to "Home", home_path %></li>
					<li><%= link_to "Login", login_path %></li>
					<li> &nbsp; </li>
			  </ul>
			</div>
		<% end %>

		<% if current_user && current_user.role != 'admin' %>
			<br/>
				<div class="underlinemenu">
					<ul>
						<li> &nbsp; </li>
						<li> <%= link_to 'Home', :controller => 'home' %> </li>
						<li> <%= link_to 'Dashboard', :controller => 'home', :action => 'dashboard' %> </li>
						<li> <%= link_to 'Asset Registers', :controller => 'registers' %> </li>
						<li> <%= link_to 'Devices', :controller => 'devices' %> </li>
						<li> <%= link_to 'Dicovery Data', :controller => 'servers' %> </li>
						<li> <%= link_to 'Licences', :controller => 'licences' %> </li>
						<li> <%= link_to 'Products', :controller => 'products' %> </li>
						<li> &nbsp; x</li>
					</ul>
				</div>
		  <% end %>

			<% if current_user && current_user.role == 'admin' %>
				<br/>
					<div class="underlinemenu">
						<ul>
							<li> &nbsp; </li>
							<li> <%= link_to 'Home', :controller => 'home' %> </li>
							<li> <%= link_to 'Dashboard', :controller => 'home', :action => 'dashboard' %> </li>
							<li> <%= link_to 'Asset Registers', :controller => 'registers' %> </li>
							<li> <%= link_to 'Devices', :controller => 'devices' %> </li>
							<li> <%= link_to 'Discovery Data', :controller => 'servers' %> </li>
							<li> <%= link_to 'Licences', :controller => 'licences' %> </li>
						  <li> <%= link_to 'Products', :controller => 'products' %> </li>
						  <li> &nbsp; z </li>
						</ul>
					</div>
			<% end %>

		<p class="flash_notice"><%= flash[:notice] %></p>
		<p class="flash_warn"><%= flash[:warning] %></p>
		<p class="flash_error"><%= flash[:error] %></p>

		<div class="content">
						<%= yield  :layout %>
		</div>

	</body>
</html>

