<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title>SAM &Eacute;clat: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold', 'sv3' %>
	</head>		
	<body>
					<h1>SAM &Eacute;clat</h1>

					<% if session[:user_id] %>
						<h2>Hardware</h2>
			      <%= link_to 'Locations', :controller => 'locations' %><br/>
			      <%= link_to 'Assets', :controller => 'assets' %><br/>
			      <%= link_to 'Devices', :controller => 'devices' %><br/>
				    <br/>
						<h2>Software</h2>
			      <%= link_to 'Publishers', :controller => 'publishers' %><br/>
			      <%= link_to 'Products', :controller => 'products' %><br/>
			      <%= link_to 'Versions', :controller => 'versions' %><br/>
			    	<br/>
						<h2>Licencing</h2>
			      <%= link_to 'Installations', :controller => 'installations' %><br/>
			      <%= link_to 'Entitlements', :controller => 'entitlements' %><br/>
			      <%= link_to 'Compliances', :controller => 'compliances' %><br/>
				    <br/>

						<h2>Adminstration</h2>
			      <%= link_to 'Users', :controller => 'users' %><br/>
				    <%= link_to 'Logout', :controller => 'admin', :action => 'logout' %><br/>
          <% end %>

	  <p style="color: green"><%= flash[:notice] %></p>

		<%= yield  :layout %>

	</body>
</html>
