!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = h(yield(:title)) || controller.action_name
    = stylesheet_link_tag 'sv3', 'tabs', 'underlinenav'
    = javascript_include_tag 'jquery','application', 'tabs'
    = javascript_include_tag :defaults
    %style{ :type => "text/css" }
      a.test { font-weight: bold; }
    = yield(:head)
  %body
    #banner
      = image_tag("AssetCIOLogo.png", :title => "SAM Eclat AssetCIO TM", :size => "105x38")
    #container
      - flash.each do |name, msg|
        - content_tag :div, msg, :id => "flash_#{name}"
    - if current_user
      #user_nav
        - if current_user.role
          - if current_user.role == 'admin'
            - if ((session[:selected_client]) && (session[:selected_client] != 0))
              - client = Client.find session[:selected_client]
              - client_name = client.name
            - else
              - client_name = ""
            -# end
            - if current_client
              - client_name = current_client.name
              %b 
                AssetCIO&trade; for 
                = client_name
                &nbsp; | &nbsp;
              %b
                = current_user.name
                logged in with role: 
                = current_user.role
                \&nbsp; | &nbsp;

            - else
              %b
                = current_user.name
                logged in
                = current_user.role
                \&nbsp;
            -# end
            %b
              -#= link_to "Edit Profile", edit_user_path(:current)
              -#&nbsp; | &nbsp;
              = link_to "Logout", logout_path
          -# end
        -# end
    - else 
      #user_nav
        %b
          -#= link_to "Register", new_user_path
          -#&nbsp; | &nbsp;
          = link_to "Login", login_path
      %br
      .underlinemenu
        %ul
          %li
            \&nbsp;
          %li
            = link_to "Home", home_path
          %li
            = link_to "Login", login_path
          %li
            \&nbsp;
    -# end
    - if current_user 
      - if current_user.role
        - if current_user.role != 'admin'
          %br
          .underlinemenu
            %ul
              %li
                \&nbsp;
              %li
                = link_to 'Home', :controller => 'home'
              %li
                = link_to 'Dashboard', :controller => 'home', :action => 'dashboard'
              %li
                = link_to 'Asset Registers', :controller => 'registers'
              %li
                = link_to 'Dicovery Data', :controller => 'servers'
              %li
                = link_to 'Devices', :controller => 'devices'
              %li
                = link_to 'Products', :controller => 'products'
              %li
                = link_to 'Licences', :controller => 'licences'
        - else 
          %br
          .underlinemenu
            %ul
              %li
                \&nbsp;
              %li
                = link_to 'Home', :controller => 'home'
              %li
                = link_to 'Dashboard', :controller => 'home', :action => 'dashboard'
              %li
                = link_to 'Asset Registers', :controller => 'registers'
              %li
                = link_to 'Discovery Data', :controller => 'servers'
              %li
                = link_to 'Devices', :controller => 'devices'
              %li
                = link_to 'Products', :controller => 'products'
              %li 
                = link_to 'Licences', :controller => 'licences'
        -# end
      -# end
    -# end
    %p.flash_notice
      = flash[:notice]
    %p.flash_warn
      = flash[:warning]
    %p.flash_error
      = flash[:error]
    .content
      = yield  :layout
