<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= h(yield(:title)) || controller.action_name %></title>
		<%= stylesheet_link_tag 'sv3' %>
		 <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <%= yield(:head) %>
	</head>		
	<body>
	  <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
    </div>
		<div id="user_nav">
			<% if current_user %>
				<% if current_user.role == 'admin' %>
				<%= current_user.name %> (<%= current_user.role %> user) is logged in. &nbsp; 
			<% else %>
				<%= current_user.name %> is logged in as <%= current_user.role %>. &nbsp; 
			<% end %>
			<%= link_to "Edit Profile", edit_user_path(:current) %> |
			<%= link_to "Logout", logout_path %> 
		<% else %>
		<% end %>
		</div>

		<h1>SAM &Eacute;clat Asset CIO</h1>
			<% if !current_user %>
				<div style="background-color:LightGreen">
					<%= link_to 'Home', home_path  %>	|
					<%= link_to 'Login', login_path %>			
				</div>
			<% end %>

			<% if current_user %>
				<div style="background-color:LightBlue">
				<p class="navbar">

					<table class="nav"><tr><td class="nav">
						<h2>Client View</h2>
						<table class="nav"><tr><td class="nav">
						<h3>Client Functions</h3>
						&nbsp;
						<%= link_to 'Home', :controller => 'home' %>
						&nbsp;
						<%= link_to 'Dashboard', :controller => 'home', :action => 'dashboard' %>
						&nbsp;
						<%= link_to 'Licences', :controller => 'licences' %>
						</td></tr></table>

			<% end %>

					<% if current_user && current_user.role == 'admin' %>
						</td><td class="nav"> 	
						<h2>Adminstration View</h2>
						<table class="nav"><tr><td class="nav">
						<h3>Users and Roles</h3>
						&nbsp;
						<%= link_to "User", new_user_path %>
						&nbsp;
						<%= link_to "Clients", :controller => 'clients' %>
						&nbsp;
						<%= link_to 'Locations', :controller => 'locations' %>
						</td><td class="nav">
						<h3>Hardware</h3>
						&nbsp;
						<%= link_to 'Registers', :controller => 'registers' %>
						&nbsp;
						<%= link_to 'Devices', :controller => 'devices' %>
						&nbsp;
						</td><td class="nav">
						<h3>Software</h3>
						&nbsp;
						<%= link_to 'Publishers', :controller => 'publishers' %>
						&nbsp;
						<%= link_to 'Products', :controller => 'products' %>
						&nbsp;
						<%= link_to 'Versions', :controller => 'versions' %>
						</td><td class="nav">
						<h3>Licencing</h3>
						&nbsp;
						<%= link_to 'Licences', :controller => 'licences' %>
						&nbsp;
						<%= link_to 'Entitlements', :controller => 'entitlements' %>
						</td></tr></table>
					<% end %>
					</td></tr></table>
					</p>
					</div>

		<p style="color: green"><%= flash[:notice] %></p>
		<p style="color: orange"><%= flash[:warning] %></p>
		<p style="color: red"><%= flash[:error] %></p>
		<div class="content">
						<%= yield  :layout %>
		</div>

	</body>
</html>
